.starter-template {
  text-align: center;
}

h1 {
   font-size: 80px;
}

.btn-success{
  display: none;
}

.custom-btn{
  color: #fff;
  border-color: #fff;
}

.custom-btn:hover{
  color: #fff;
  border-color: #fff;
}

